{% extends 'mpesa/mpesa-sidebar.html' %}

{% block head_title %}{{ title }}{% endblock %}

{% block main %}
{%load static%}





 <div class="mb-5 home-section align-items-center"style="color:#000;font-weight:bold; font-family:Comic Sans Mn;background-color:rgba(0,0,0,0.2);opacity:90%; border-radius:36px;backdrop-filter:blur(10px);border:2px solid rgba(255,255,255,0.2);
        z-index:10;display:flex;box-shadow:40px 40px 40px 80px rgba(0,0,0,0.3);">
<div class="container">
               <div class="row align-items-center">

            {% if request.user.is_authenticated %}

<p>Karibu Sleek</p>
{% endif %}

                                  <div class="home-text">
<form  method="POST"  action="stk-pay-bill" style="background-image:url({% static 'img/shootCenterBanner.png'%});opacity:100%;width:80%;">
<div style="display:flex;flex-direction:row;">
<img style=" margin-left:6px;margin-top:8vh; width:100px;  height:50px;"   src="{%static '/icons/M-PESA_LOGO-01.svg.png'%}">
</div>
{% csrf_token %}

<div style="margin-top:30px;">
    <input type="text" id="phone_number"  value="" name="phone_number" placeholder="phone number" class="bty form-control" required autofocus    style="font-family:Comic Sans Mn; width:100%; font-weight:bold;color:#001100;font-size:16px;text-align:center; margin-top:5px;border-radius:10px;height:7vh; "><br>
    <input type="text"  id="account_reference" value="{{user.account}}" required name="account_reference" class=" bty form-control" placeholder="Mboa-Id :{{user.account}} " style="font-family:Comic Sans Mn; width:100%; font-weight:bold;color:#001100;font-size:16px;text-align:center; margin-top:20px;border-radius:10px;height:7vh; ">
<input type="number" id="amount"  value="500" required name="amount" class=" btn form-control" placeholder="Amount " style="font-weight:bold;font-family:Comic Sans Mn;font-size:16px;text-align:center;width:100%; height:7vh;margin-top:20px; margin-bottom:70px;border-radius:10px;"></div>
    <button type="submit" class="bty" style="width:80%;font-weight:bold;height:7vh; border-radius:30px; color:#001100; background: #C9FEC0; cursor:pointer;border:2px solid #000;"> Pay Now</button>

</form>
</div>
 </div>
            </div></section>
     {% endblock %}
